.Video{
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 10px;
  width: 100%;
  height: 100%;

  background: #FFFFFF;
  border-radius: 50px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.OT_subscriber {
  flex-direction: column;
  position: absolute;
  left: 120px;
  bottom: center;
  z-index: 50;
}

.videoButton{
  position: absolute;
  top:20px;
  left: 160px;
  z-index: 150;
}

.OT_publisher {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
}




